.exia-centerpage{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  -webkit-backdrop-filter: blur(5px);

  &__left{
    min-width: 50px;

    @include phone{
      display: none;
    }
  }

  &__right{
    min-width: 50px;

    @include phone{
      display: none;
    }
  }

  &__center{
    transition: width 1s;
    width: 1000px;
    box-sizing: border-box;

    @include laptop{
      width: 800px;
    }
  }
}