.exia-centerpage {
  -webkit-backdrop-filter: blur(5px);
  $sizeLarge: 1000px;
  $sizeLaptop: 800px;
  $arrow-width: 100px;

  @include phone {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  &__title {
    font-family: 'visitor';
    color: #c456f4;
    font-size: 30px;
    background-color: darken(#aa00ff, 40%);
    padding: 20px;
    margin-bottom: 20px;
  }

  &__sad {
    font-family: 'visitor';
    color: #c456f4;
    font-size: 100px;
  }

  &__loading {
    background: rgba(black, 0.9);
    text-align: center;
    box-sizing: border-box;
    height: 300px;
    margin-bottom: 20px;
  }

  &__nothing {
    background: rgba(black, 0.9);
    padding: 60px;
    height: 300px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  &__text {
    font-family: 'Open Sans';
    color: white;
    font-size: 20px;
  }

  &__left, &__right {
    color: white;
    font-size: 70px !important;
    height: 100%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    min-width: $arrow-width;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
    cursor: pointer;

    .fa {
      transition: transform 0.2s;
      transform-origin: center center;
    }

    &:hover {
      opacity: 1.0;
    }

    @include phone {
      display: none;
    }
  }

  &__show-more {
    font-family: 'visitor';
    font-size: 30px;
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(black, 0.8);
    cursor: pointer;
    text-align: center;
    color: white;
    user-select: none;

    &:hover {
      background-color: darken(aqua,30%);
      color: aqua;
    }
  }

  &__left {
    margin-left: - ($sizeLarge/2) + ($sidebar-width/2) - ($arrow-width/2);

    @include laptop {
      margin-left: - ($sizeLaptop/2) + ($sidebar-width/2) - ($arrow-width/2);
    }

    &:hover {
      .fa {
        transform: translateX(-10px);
      }
    }
  }

  &__right {
    margin-left: ($sizeLarge/2) + ($sidebar-width/2) + ($arrow-width/2);

    @include laptop {
      margin-left: ($sizeLaptop/2) + ($sidebar-width/2) + ($arrow-width/2);
    }

    &:hover {
      .fa {
        transform: translateX(+10px);
      }
    }
  }

  &__center {
    position: absolute;
    transition: width 1s;
    width: $sizeLarge;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @include laptop {
      width: $sizeLaptop;
    }

    @include phone {
      overflow-x: hidden;
      box-sizing: border-box;
      position: relative;
    }

  }
}