.exia-modal-gallery {
  position: fixed;
  z-index: 4;
  background: rgba(black, 0.85);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 50px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(1.1);

  @include phone{
    padding: 5px;
  }

  .image-gallery-thumbnails{
    @include phone{
      position: fixed;
      bottom: 10px;
    }
  }

  &--visible{
    opacity: 1;
    transform: scale(1.0);
  }

  &__close{
    cursor: pointer;
    position: absolute;
    top: 70px;
    right: 70px;
    color: white;
    width: 30px;
    height: 30px;
    filter: drop-shadow(1px 1px 1px rgb(0,0,0));

    @include phone{
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
    }
  }

  .image-gallery-image{
    text-align: center;
    img{
      height: calc(100vh - 200px);
      width: auto;

      @include phone{
        max-width: 100%;
        height: auto;
      }
    }
  }

  .image-gallery-slide{
    background: transparent !important;
  }

}