.exia-post {
  margin-bottom: 20px;
  $back: rgba(black, 0.5);

  &__featured {
    height: 300px;
    background-position: center center;
    background-size: cover ;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover{
      z-index: 10;
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(black,0.3);
    }

  }

  &__top {
    color: white;
    background: $back;
    padding: 20px 40px;
  }

  &__bottom {
    color: white;
    background: $back;
    height: 40px;
  }

  &__categories {
    display: flex;
  }

  &__meta {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  &__category {
    font-family: 'visitor';
    font-size: 30px;
    margin-right: 20px;
    opacity: 0.6;
  }

  &__date {
    margin-right: 20px;
    font-family: 'visitor';
    font-size: 12px;
    opacity: 0.4;
    white-space: nowrap;
  }

  &__title {
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: 300;
    color: white;
    transition: transform 0.2s;

    @include phone{
      font-size: 20px;
    }

    &:hover{
      color: aqua;
      transform: translateX(5px);
    }
  }

  &__content {
    background: $back;

    // wordpress specific

    h1, h2, h3, h4 {
      font-family: 'Open Sans';
      color: white;
      padding-left: 40px;
      padding-bottom: 20px;
      font-weight: 300;
    }

    p {
      padding-left: 40px;
      font-family: 'Open Sans';
      font-size: 14px;
      color: rgb(150, 150, 150);
      padding-right: 150px;
      padding-bottom: 40px;
      line-height: 23px;

      @include phone{
        padding: 20px !important;
      }

      a {
        color: aqua;
        transition: transform 0.2s;
        display: inline-block;

        &:hover {
          transform: translateX(5px);
        }
      }

      img {
        max-width: calc(100% + 150px - 40px);
      }
    }

  }
}