.exia-sidebar {
  min-width: 300px;
  max-width: 300px;
  background: rgba(black, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 40px;
  box-sizing: border-box;
  z-index: 3;
  -webkit-backdrop-filter: blur(5px);

  @include phone{
    background: rgba(black, 0.95);
    right: 0px;
    max-width: 100%;
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    visibility: hidden;
    transform: translateX(-40px);

    &--show{
      opacity: 1;
      visibility: visible;
      transform: translateX(0px);
    }
  }


  &__custom-logo {
    background-size: contain;
    height: 40px;
    background-repeat: no-repeat;
    background-position: left top;
  }

  &__section {
    padding-top: 20px;
    color: white;
    font-family: 'Open Sans';

    a {
      color: inherit;
    }
  }

  &__section-name {
    font-size: 10px;
    opacity: 0.2;
    font-weight: 400;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  &__tags {
    overflow: auto;
  }

  &__category, &__post {
    font-size: 13px;
    font-weight: 500;
    font-family: 'Open Sans';
    cursor: pointer;
    opacity: 0.5;
    transition: transform 0.2s;

    &:hover {
      opacity: 1.0;
      transform: translateX(5px);
    }
  }
}