*{
  padding: 0;
  margin: 0;
}

@font-face {
  src: url('../fonts/visitor1.ttf');
  font-family: 'visitor';
}

html, body, #application{
  height: 100%;
  min-height: 100%;
  background: #121214;
}

body::-webkit-scrollbar {
  width: 8px;

}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #3c3f41;

  &:hover{
    background: aqua;
  }
}

a{
  text-decoration: none;
}

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin laptop {
  @media (min-width: 1200px) and (max-width: 1400px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 800px) and (max-width: 1200px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 800px) {
    @content;
  }
}

@import "PostWidget";
@import "BodyWidget";
@import "SidebarWidget";
@import "CenterPageWidget";
@import "TagWidget";
@import "GalleryWidget";
@import "ModalGalleryWidget";
@import "../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";